<meta charset="utf-8">
<title>{{ page.title | default(site.title) }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description | default(site.description) }}">
<meta name="author" content="{{ site.author.name }}">
<meta name="generator" content="Spress v{{ spress.version }}">

<!-- syntax highlighting -->
<link href="{{ site.url }}/assets/prism/prism.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-core.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-twig.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-markup.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script type="text/javascript">
Prism.plugins.NormalizeWhitespace.setDefaults({
	'remove-trailing': true,
	'remove-indent': true,
	'left-trim': true,
	'right-trim': true,
	/*'break-lines': 80,
	'tabs-to-spaces': 4,
	'indent': 1,
	'remove-initial-line-feed': false,
	'spaces-to-tabs': 4*/
});
</script>

<link href="{{ site.url }}/assets/css/main.css" rel="stylesheet" media="screen">
<link href="{{ site.url }}/assets/css/styleguide.css" rel="stylesheet" media="screen">