{% block html_head_container %}
<!doctype html>
<html {{site.language_attributes}}>
<head>
    <meta charset="{{site.charset}}" />
    <title>   
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{site.theme.link}}/prism/prism.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{site.theme.link}}/prism/prism.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}

	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
	<header class="page-head u-clearfix">
		{% block header %}
			<div class="u-constrict u-clearfix">
				<div class="logo" role="banner">
					<a href="{{site.url}}" rel="home">{{site.name}}</a>
				</div>

				{% include "partials/menu.twig" with {'menu': menu.get_items} %}
			</div>
		{% endblock %}
	</header>

	<main role="main" class="u-constrict u-clearfix">
		<div class="main-content {% if sidebar %}has-sidebar{% endif %}">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>

		{% if sidebar %}
			<aside class="sidebar">
				{% include "partials/sidebar.twig" %}
			</aside>
		{% endif %}
	</main>

	{% block footer %}
		<footer class="page-foot">
			<div class="u-constrict u-clearfix">
				{% block footer_content %}
					<div class="footer-text">
						<p>The footer contains tweets but only when on the homepage. With Twig this is very easy. Defining a Twig block for the footer content in the base template it gives other templates that extend the base the ability to redefine the block. Not the use of <code class="language-twig">{{ '{{ parent() }}' }}</code>.</p>
						{% include "partials/codeblocks/footer.twig" %}
						<p>Copyright {{ "now"|date('Y') }}</p>
					</div>
				{% endblock %}
			</div>
		</footer>
		{{ function('wp_footer') }}
	{% endblock %}
</body>
</html>
