<meta charset="{{site.charset}}" />
<title>
    {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
    {% else %}
        {{ site.name }}
    {% endif %}
</title>
<meta name="description" content="{{site.description}}">
<link rel="stylesheet" href="{{site.theme.link}}/css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{site.theme.link}}/prism/prism.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{site.theme.link}}/prism/prism.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="pingback" href="{{site.pingback_url}}" />
{{function('wp_head')}}

{% block head %}
{% endblock %}
